body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  /* justify-content: center; */
  align-items: center;
  background-color: #d6d6d6;
  background-image: radial-gradient(#0000000a 20%, #0000 20%);
  background-position: 0 0;
  background-size: 20px 20px;
  overflow: hidden;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

main > * {
  margin-left: 1rem;
  margin-right: 1rem;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 999px;
}

@media screen and (min-width: 800px) {
  main {
    width: 800px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.5;
  color: #121212;
}
textarea,
input,
button {
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
  background-color: white;
  line-height: 1.5;
  margin: 0;
  outline: none;
}
button {
  color: #3992ff;
  font-weight: 500;
}

button.transparent {
  background-color: none;
  box-shadow: none;
}

button.transparent:hover {
  box-shadow: none;
  cursor: pointer;
}

textarea:hover,
input:hover,
button:hover {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.6), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

button:active {
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.4);
  transform: translateY(1px);
}

button:disabled,
textarea:disabled,
input:disabled {
  opacity: 0.5;
  pointer-events: none;
}

/* input:focus {
  box-shadow: 0 0 0 2px lightcoral;
} */

button:focus,
input:focus,
textarea:focus {
  box-shadow: 0 0 0 1px #68acff;
}

dialog {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

dialog::backdrop {
  backdrop-filter: blur(3px);
}
